*{
  box-sizing: border-box; 
}

.container{
  padding:0;
}

#canvas{
  margin: 0  auto;
  background-color: #ececec;
  width: 100%;
}

.btn-disabled{
  color: #fff;
}

#effects{
  display: flex;
  width: 100%;
  justify-content: start;
}

.btn-group{
  font-size: 12px;
}

.btn{
  margin-right: 25px;
}
